<h2>Light {{selectedLight.id}}</h2>

<button *ngIf="selectedLight.on" md-icon-button md-raised-button color="warn" (click)="selectedLight.on = false;">
      <md-icon class="md-24">lightbulb_outline</md-icon>
</button>

<button *ngIf="!selectedLight.on" md-icon-button md-raised-button (click)="selectedLight.on = true;">
      <md-icon class="md-24">lightbulb_outline</md-icon>
</button>



<h3>Hue</h3>


<md-slider [(ngModel)]="selectedLight.hue" min="0" max="65535" #sliderHue>
</md-slider>

<p>{{sliderHue.value}}</p>

<h3>Saturation</h3>


<md-slider min="0" max="254" [(ngModel)]="selectedLight.sat" #sliderSat>
</md-slider>

<p>{{selectedLight.sat}}</p>

<h3>Brightness</h3>


<md-slider min="1" max="254" [(ngModel)]="selectedLight.bri" #sliderBri>
</md-slider>

<p>{{selectedLight.bri}}</p>

<div [style.background-color]="boxColor" class="colorBox"></div>

<!--


<h3>Red</h3>

<md-slider min="0" max="255" [(ngModel)]="RGB.red" #sliderRed>
</md-slider>

<p>{{RGB.red}}</p>

<h3>Green</h3>


<md-slider min="0" max="255" [(ngModel)]="RGB.green" #sliderGreen>
</md-slider>

<p>{{RGB.green}}</p>

<h3>Blue</h3>


<md-slider min="0" max="255" [(ngModel)]="RGB.blue" #sliderBlue>
</md-slider>

<p>{{RGB.blue}}</p>


-->





<!-- 
<h3>Timer </h3>

<timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
            [minuteStep]="mstep" [showMeridian]="ismeridian"
            [readonlyInput]="!isEnabled"></timepicker>

<pre class="alert alert-info">Switch off light: {{mytime}}</pre>


<ng2-slider
    min="6"
    max="23"
    startValue="9"
    endValue="21"
    stepValue="2"
    [normalHandlerStyle]="{ 'background-color': 'green'}"
    [slidingHandlerStyle]="{
          'border-radius': '9px',
          'background-color': 'red'
    }">
</ng2-slider>

-->

