<h1>Hue light demo</h1>

<!--

<tabset>
    <tab *ngFor="let tabz of lights"
         [heading]="tabz.id"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)">

    </tab>
</tabset>


<Tree [nodes]="lightService.getLightTree()"></Tree>

-->
 
<div *ngFor="let light of lights">
   
   <button (click)="selectLight(light)">Light {{light.id}}</button>
</div>


<div *ngIf="selectedLight">
  <light-control [selectedLight]="selectedLight"></light-control>
</div>
