<h2>Light {{id}}</h2>

<button type="button" class="btn btn-primary"
        [(ngModel)]="selectedLight.on" btnCheckbox
        btnCheckboxTrue=true btnCheckboxFalse=false>
        On {{selectedLight.on}}
</button>

<!--


<button type="button" class="btn btn-primary"
        [(ngModel)]="singleModel" btnCheckbox
        btnCheckboxTrue="On" btnCheckboxFalse="Off">
        {{singleModel}}
</button>


<h3>Brightness </h3>
<input type="number" min="0" step="10" #bbox
      (keyup.enter)="bvalue=bbox.value"
      (blur)="bvalue=bbox.value">

<p>{{bvalue}}</p>



<pre class="card card-block card-header">Random radio buttons</pre>
<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="Left">Left</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Middle">Middle</label>
  <label class="btn btn-primary" [(ngModel)]="radioModel"
         btnRadio="Right">Right</label>
</div>

-->
<md-slider min="5" max="500">
</md-slider>
<button md-raised-button color="primary">PRIMARY</button>

<h3>Hue value </h3>
<input type="number" min="0" step="10" value="{{selectedLight.hue}}"  #boxHue
      (keyup.enter)="selectedLight.hue=boxHue.valueAsNumber"
      (blur)="selectedLight.hue=boxHue.valueAsNumber">

<p>{{selectedLight.hue}}</p>

<h3>Saturation value </h3>
<input type="number" min="0" step="10" value="{{selectedLight.sat}}"  #boxSat
      (keyup.enter)="selectedLight.sat=boxSat.valueAsNumber"
      (blur)="selectedLight.sat=boxSat.valueAsNumber">

<p>{{selectedLight.sat}}</p>

<h3>Brightness value </h3>
<input type="number" min="0" step="10" value="{{selectedLight.bri}}"  #boxBri
      (keyup.enter)="selectedLight.bri=+boxBri.valueAsNumber"
      (blur)="selectedLight.bri=+boxBri.valueAsNumber">

<p>{{selectedLight.bri}}</p>

<!--


<h3>Timer </h3>

<timepicker [(ngModel)]="mytime" (change)="changed()" [hourStep]="hstep"
            [minuteStep]="mstep" [showMeridian]="ismeridian"
            [readonlyInput]="!isEnabled"></timepicker>

<pre class="alert alert-info">Switch off light: {{mytime}}</pre>

<!--
<ng2-slider
    min="6"
    max="23"
    startValue="9"
    endValue="21"
    stepValue="2"
    [normalHandlerStyle]="{ 'background-color': 'green'}"
    [slidingHandlerStyle]="{
          'border-radius': '9px',
          'background-color': 'red'
    }">
</ng2-slider>

-->
